#announcement-wrap {
  position: relative;
  color: inherit;
}

.oval2 {
  margin-left: 840px;
  z-index: 2;
  position: absolute;
  margin-top: -25px;
  width: 180px;
  height: 90px;
  background: blue;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

.oval1 {
  margin-left: 830px;
  z-index: 2;
  position: absolute;
  margin-top: -30px;
  width: 180px;
  height: 90px;
  background: rgb(255, 255, 90);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

.announcement {
  text-align: center;
  margin-top: 15px;
}

.announcement span.label-small {
  font-style: italic;
}

.announcement span.label {
  font-weight: bold;
}

.header {
  width: 1000px;
  position: absolute;
  margin-top: -36px;
  background-color: rgb(108, 22, 32);
}

.header .inner {
  text-align: center;
  width: 1000px;
}

.link {
  display: inline-block;
  background-color: green;
  border-radius: 14px;
  padding: 4px 6px;
  margin: 4px 2px;
  text-align: center;
}

.link a {
  color: #000;
  text-decoration: none;
}

.blue {
  background-color: rgb(175, 222, 247);
}

.orange {
  background-color: rgb(234, 154, 7);
}

.yellow {
  background-color: rgb(255, 252, 0);
}

.green {
  background-color: rgb(141, 210, 66);
}

.title {
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  color: blue;
}
